.helvetica {
  font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}
.overflow {
  width: auto;
  float: none;
  overflow: hidden;
}
/* CSS Reset from html5doctor.com */
html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}
body {
  line-height: 1;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
nav ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: none;
}
a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}
del {
  text-decoration: line-through;
}
abbr[title],
dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}
input,
select {
  vertical-align: middle;
}
/* End CSS Reset */
/* Sitewide */
body {
  font-size: 63.7%;
  color: #666;
  font-family: "open-sans", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 400;
}
section h2 {
  font-size: 4em;
  font-weight: 300;
  margin-bottom: 77px;
  text-align: center;
}
section h3 {
  font-size: 2.8em;
  font-weight: normal;
  margin-bottom: 30px;
}
section p {
  font-size: 1.4em;
  line-height: 1.8em;
}
.pad20 {
  padding: 0 20px;
}
img {
  max-width: 100%;
}
a,
a:visited {
  color: #000000;
  text-decoration: none;
}
a:hover,
a:visited:hover {
  color: #595959;
  text-decoration: underline;
}
.row-fluid,
.group {
  zoom: 1;
}
.row-fluid:before,
.group:before {
  display: table;
  content: "";
}
.row-fluid:after,
.group:after {
  display: table;
  content: "";
  clear: both;
}
/***** figures ******/
.img-center-solo {
  margin: 0;
  padding: 75px 0px 85px;
}
.img-center-solo img {
  display: block;
  margin: 0 auto;
}
/* NAV */
.method-nav-second {
  display: none;
}
.method-nav-second ul {
  padding: 0 0 20px;
}
.method-nav-second ul li {
  float: left;
  width: 33%;
}
.method-nav-second ul li a {
  text-decoration: none;
  font-size: 1.6em;
  text-align: center;
  display: block;
  color: #ffffff;
  padding: 20px 0;
}
.method-nav-second ul li a:hover {
  color: #ffffff;
}
.method-nav-second ul li a.active {
  color: #ffffff;
  background: url('../images/arrow_method_nav.png') 50% 100% no-repeat;
}
/* Header */
#header-wrap {
  background: #000000;
  background: rgba(0, 0, 0, 0.9);
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
}
#site-header {
  padding: 0 20px;
  *width: 1020px;
  max-width: 1020px;
  margin-left: auto;
  margin-right: auto;
}
#site-header .safo-head {
  width: 215px;
  background: #000;
  color: #fff;
  text-align: center;
  padding: 15px;
  position: absolute;
  top: 10%;
  left: 70%;
  z-index: 1000;
}
#site-header h1 {
  display: none;
  font-size: 3.6em;
  font-weight: normal;
}
#site-header h3 {
  display: none;
  font-size: 1.2em;
  margin-top: 3px;
  font-weight: 300;
}
#brand {
  float: left;
  padding: 10px 0px;
}
#site-nav {
  padding: 5px 0px;
  float: right;
}
#site-nav ul li {
  float: left;
}
#site-nav ul li a {
  text-align: center;
  font-size: 1.6em;
  padding: 15px;
  display: block;
  color: #ffffff;
}
#site-nav ul li a:hover {
  text-decoration: none;
}
#site-nav ul li a.on {
  font-weight: bold;
}
#site-nav ul li.last {
  width: auto;
  float: none;
  overflow: hidden;
}
#site-nav ul li.last a {
  background: none;
  padding: 15px 0px 15px 15px;
}
/* top nav */
.safo-nav {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  font-size: 1.9em;
  font-weight: 600px;
  width: 100%;
  text-align: center;
  background: #000;
  z-index: 5000;
  list-style: none;
}
.safo-nav ul {
  max-width: 1020px;
  margin: 0 auto;
  padding: 20px;
}
.safo-nav li {
  float: left;
}
.safo-nav a {
  color: #fff;
  padding: 0 22px 0 22px;
  line-height: 24px;
  text-decoration: none;
}
.safo-nav a.on {
  font-weight: bold;
}
/* show nav */
.shownav {
  position: absolute;
  top: 200px;
}
.standard-section {
  padding: 88px 0px;
}
.standard-section .row-fluid {
  margin-bottom: 40px;
}
.standard-section .row-fluid.last {
  margin-bottom: 0px;
}
.standard-section h2 {
  color: #000000;
}
.standard-section h3 {
  color: #000000;
}
.standard-section p {
  color: #000000;
}
.standard-section .span4 h3 {
  margin: 0 0 25px;
  font-weight: 600;
  font-size: 2.4em;
}
.standard-section .span4 p {
  margin: 0;
}
.standard-section .span4 img {
  margin: 0 auto 40px;
  display: block;
}
/* 1st section */
section.safo-start {
  height: 666px;
  background: #666666 url(../images/site/office2.png);
  background-size: cover;
}
section.safo-start .safo-mission {
  color: #30353b;
  max-width: 1020px;
  *width: 1020px;
  font-size: 4em;
  line-height: 58px;
  padding-top: 256px;
  text-align: center;
}
section.safo-start .strip {
  background: #fff;
  opacity: 0.9;
  padding-left: 10px;
  padding-right: 10px;
}
/* 2nd section: History */
section.safo-history {
  padding-top: 120px;
  padding-bottom: 120px;
}
section.safo-history p {
  float: left;
  width: auto;
  float: none;
  overflow: hidden;
  font-size: 1.7em;
  font-weight: 300;
  padding: 0 20px 0;
}
section.safo-history p.established {
  float: left;
  font-size: 3.9em;
  font-weight: 300;
  width: 205px;
  text-align: right;
  color: #121212;
  line-height: 1.4em;
  margin-right: 47px;
  margin-top: 0;
}
section.safo-history span {
  font-size: 64px;
  display: block;
  font-weight: bold;
}
/* 3rd section: Our Method */
section.safo-methodology {
  background: #000000;
  color: #fff;
  padding: 88px 0;
}
section.safo-methodology.offwhite {
  background: #f6f6f7;
  /*offwhite icon text slider*/

}
section.safo-methodology.offwhite .method-nav {
  border: 2px solid #000000;
}
section.safo-methodology.offwhite .method-nav .button {
  color: #000000;
}
section.safo-methodology.offwhite .method-nav .button.on {
  color: #ffffff;
  background: #000000;
}
section.safo-methodology.offwhite .icon-text-slider .slider-wrap .slides .slide .body .icon {
  background: none;
}
section.safo-methodology.offwhite .icon-text-slider .slider-wrap .slides .slide .body .icon img {
  opacity: .2;
}
section.safo-methodology.offwhite .icon-text-slider .slider-wrap .slides .slide .body h3 {
  color: #e6e6e7;
  text-align: center;
  margin: -20px 0 30px;
}
section.safo-methodology.offwhite .icon-text-slider .slider-wrap .slides .slide .body p {
  color: #e6e6e7;
  font-size: 1.5em;
  width: 410px;
}
section.safo-methodology.offwhite .icon-text-slider .slider-wrap .slides .slide.active .body .icon img {
  opacity: 1;
}
section.safo-methodology.offwhite .icon-text-slider .slider-wrap .slides .slide.active .body h3,
section.safo-methodology.offwhite .icon-text-slider .slider-wrap .slides .slide.active .body p {
  color: #000000;
}
section.safo-methodology .section-contents {
  padding: 0;
}
section.safo-methodology h2 {
  line-height: 1.3em;
  margin-bottom: 65px;
  padding: 0 20px;
}
section.safo-methodology .method-nav {
  margin: 40px auto 20px;
  max-width: 500px;
  *width: 500px;
  border: 2px solid #fff;
  font-size: 3em;
  font-style: italic;
  font-weight: 300;
}
section.safo-methodology .method-nav .button {
  width: 40%;
  float: left;
  padding: 20px 5%;
  text-align: center;
  cursor: pointer;
}
section.safo-methodology .method-nav .button.l {
  width: auto;
  float: none;
  overflow: hidden;
}
section.safo-methodology .method-nav .button.on {
  color: #000;
  background: #fff;
  cursor: default;
}
section.safo-methodology h2.our-services {
  color: #000000;
}
section.safo-methodology .our-services .row-fluid {
  padding-bottom: 0px;
}
section.safo-methodology .our-services .row-fluid > [class*="span"] {
  padding-bottom: 71px;
}
.method-lines {
  max-width: 1020px;
  *width: 1020px;
  height: 255px;
  margin-bottom: 66px;
  background: url(../images/site/method-lines.png) no-repeat top;
}
#sliders-cont {
  position: relative;
  height: 980px;
  background: #000000;
}
#sliders-cont .inside {
  *height: 980px;
  *position: relative;
  *width: 1020px;
  *margin: 0 auto;
  *overflow: hidden;
}
#sliders-cont.lighten {
  background: #f6f6f7;
}
#focus-wrap {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 200;
}
#audience-wrap {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
}
/* 4th section: Our Work */
section.safo-work {
  background: #fff;
  padding: 42px 0;
}
section.safo-work .section-contents {
  position: relative;
}
section.safo-work h2 {
  margin: 93px 0 50px 0;
  color: #000;
}
section.safo-work p.narrow {
  padding: 0 20px 20px 20px;
  text-align: center;
}
section.safo-work p.narrow.comingsoon {
  font-weight: 600;
}
section.safo-work .safo-client {
  text-align: center;
}
section.safo-work .safo-client h3 {
  color: #30353b;
  margin: 8px 0 5px 0;
}
section.safo-work .safo-client h3 a {
  color: #30353b;
  text-decoration: none;
}
section.safo-work .safo-client p {
  margin-bottom: 20px;
  color: #999;
}
section.safo-work img {
  display: block;
}
section.safo-work img.mobile-img {
  display: none;
}
.client-intro {
  position: absolute;
  width: 31.333333333%;
  left: 34.3333333333%;
  top: 290px;
}
/***** ISOTOPE WORK *****/
#iso-cont {
  margin: 0 auto;
}
#iso-cont .item {
  margin-bottom: 20px;
}
#iso-cont .item img {
  display: block;
  margin: 0 24px;
}
/* 5th section: Clients */
section.safo-clients {
  background: #000;
  color: #fff;
  padding-top: 88px;
  padding-bottom: 100px;
}
section.safo-clients h2 {
  padding-bottom: 10px;
}
section.safo-clients p {
  line-height: 1.4em;
  padding-bottom: 30px;
}
section.safo-clients strong {
  font-weight: 600;
}
.client-list {
  max-width: 1000px;
  *width: 1000px;
  margin-left: auto;
  margin-right: auto;
}
.client-list p {
  width: 230px;
  padding-right: 15px;
  height: 70px;
  padding-bottom: 15px;
  float: left;
  font-weight: 100;
}
.client-list .show-more {
  display: none;
}
/* 7th section: Contact */
section.safo-contact {
  background: #fff;
  padding: 80px 0;
}
section.safo-contact h2 {
  color: #000;
}
section.safo-contact .about-contact p {
  padding: 0 33px 28px 33px;
}
section.safo-contact .maps .col {
  padding: 53px 30px 30px 30px;
  width: 430px;
  text-align: center;
}
section.safo-contact .address-name {
  font-size: 1.7em;
  font-weight: 600;
  color: #000;
}
section.safo-contact a.phone {
  color: #000;
  padding-left: 18px;
  background: url(../images/site/icon-phone-black.png) left no-repeat;
}
section.safo-contact .divider {
  border-top: 1px solid #ebebeb;
  margin: 30px 0 0 0;
  padding: 0;
}
section.safo-contact .social-links {
  text-align: center;
  width: 290px;
  margin: 20px auto;
}
section.safo-contact .share1 {
  display: none;
  width: 80px;
  float: left;
  color: #000;
  padding: 16px 0;
}
.social-links a span {
  display: none;
}
.social-links a {
  display: block;
  width: 45px;
  height: 45px;
  margin: 0 6px;
  background-image: url('../images/sprite_contact_bw.png');
  background-repeat: no-repeat;
  float: left;
}
.social-links a.twitter {
  background-position: -168px 100%;
}
.social-links a.twitter:hover {
  background-position: -168px 0%;
}
.social-links a.facebook {
  background-position: -336px 100%;
}
.social-links a.facebook:hover {
  background-position: -336px 0%;
}
.social-links a.linkedin {
  background-position: -252px 100%;
}
.social-links a.linkedin:hover {
  background-position: -252px 0%;
}
.social-links a.email {
  background-position: -84px 100%;
}
.social-links a.email:hover {
  background-position: -84px 0%;
}
.social-links a.gplus {
  background-position: -422px 100%;
}
.social-links a.gplus:hover {
  background-position: -422px 0%;
}
.contact-form {
  margin-left: 40px;
  font-weight: 300;
}
.contact-form label {
  display: block;
  position: absolute;
  padding-top: 12px;
  padding-left: 20px;
  z-index: 500;
  font-size: 2.7em;
  font-weight: 300px;
  color: #666;
}
.contact-form input {
  -webkit-appearance: none;
  -moz-appearance: none;
  /* mobile firefox too! */

  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
  background-color: #edeef0;
  border: 2px solid #dedede;
  font-size: 2.7em;
  font-weight: 300px;
  padding: 8px 8px 8px 20px;
  max-width: 328px;
  *width: 328px;
  display: block;
  color: #666;
  margin-bottom: 10px;
}
.contact-form input[type="submit"] {
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
  background: #000000;
  color: #fff;
  font-style: italic;
  width: 160px;
  padding: 12px;
  cursor: pointer;
}
.input-group {
  position: relative;
}
.error-log {
  display: block;
  margin: 0 0 10px;
  font-weight: bold;
  color: #CC0000;
}
#thankyou {
  display: none;
}
.LV_validation_message {
  font-weight: bold;
  margin: 0 0 10px;
  display: block;
}
.LV_valid {
  color: #00CC00;
}
.LV_invalid {
  color: #CC0000;
}
/* 8th section: Jobs */
section.safo-jobs {
  background: #edeef0;
  padding: 80px 0 130px 0;
}
section.safo-jobs h2 {
  text-align: left;
  margin-bottom: 50px;
  color: #000;
}
section.safo-jobs .safo-staff-pics {
  *width: 1020px;
  max-width: 1020px;
  height: 250px;
  background: url(../images/site/safo-staff-pics.png) top no-repeat;
  margin: 60px 0 30px 0;
}
section.safo-jobs .jobs {
  padding-top: 60px;
  border-top: 7px solid #fff;
}
section.safo-jobs .jobs .col {
  padding: 0 30px;
  width: 430px;
}
section.safo-jobs h3 {
  color: #000;
}
section.safo-jobs a .job-title {
  color: #000000;
  font-size: 17px;
  font-weight: 600;
  float: left;
}
section.safo-jobs a:hover .job-title {
  color: #ffffff;
}
section.safo-jobs .job-title::after {
  content: " \0000a0 - ";
}
section.safo-jobs .job-location {
  color: #333;
  font-weight: 300;
  float: left;
}
section.safo-jobs .job-location::before {
  content: "\0000a0 ";
}
section.safo-jobs .job-date {
  display: block;
  width: 135px;
  float: right;
  color: #333;
  font-weight: 300;
  margin: 0;
}
section.safo-jobs .job-date.date-header {
  font-size: 19px;
  font-weight: normal;
  padding-top: 9px;
}
section.safo-jobs .job-post {
  background: #ffffff;
  border-top: 3px solid #EDEEEE;
}
section.safo-jobs .job-post a {
  padding: 16px 16px;
  display: block;
}
section.safo-jobs .job-post a:hover {
  background: #000000;
}
section.safo-jobs .job-post a:hover > * {
  color: #ffffff;
}
section.safo-jobs .job-post.first {
  border-top: none;
}
section.safo-jobs a:hover {
  text-decoration: none;
}
.more-about-jobs a {
  font-weight: 600;
}
.more-about-jobs a:hover {
  text-decoration: underline;
}
/* three column layout */
.two-columns .col {
  width: 490px;
  margin-right: 20px;
  float: left;
}
.three-columns .col {
  width: 320px;
  margin-right: 20px;
  float: left;
}
.four-columns .col {
  width: 240px;
  margin-right: 10px;
  float: left;
}
/******Generic Page******/
.blue-bg {
  background: #000000;
}
.blue-bg .std-header h1 {
  color: #ffffff;
  font-size: 4em;
  text-align: center;
  font-weight: 300;
  margin: 0 0 85px;
}
.blue-bg .std-header img {
  display: block;
  margin: 0 auto 85px;
}
.blue-bg .std-body {
  color: #ffffff;
}
.blue-bg .std-body h3 {
  font-size: 20px;
  margin: 0 0 50px;
}
.blue-bg .std-body p {
  font-size: 22px;
  margin: 0 0 40px;
  font-weight: 300;
}
.std-block {
  max-width: 1020px;
  *width: 1020px;
  margin: 0 auto 0px;
  padding: 55px 20px;
}
.google-block {
  max-width: 1020px;
  *width: 1020px;
  height: 0px;
  margin: 0 auto 0px;
}
.adjust-top .std-block {
  padding: 94px 20px 55px;
}
.adjust-top .hero {
  margin-top: 56px;
}
#twitter-feed {
  margin: 0 auto;
  font-weight: 300;
  font-size: 22px;
  color: #ffffff;
  text-align: center;
  color: #fff;
  line-height: 30px;
  list-style-type: none;
}
#twitter-feed a {
  color: #fff;
  text-decoration: underline;
}
#twitter-feed a:hover {
  text-decoration: none;
}
#twitter-feed .time-stamp {
  font-size: 15px;
  text-decoration: none;
}
.twitter-click {
  border-radius: 0px;
  margin: 0 auto;
  font-size: 2.8em;
  background-color: #fff;
  font-style: italic;
  padding: 15px 20px;
  cursor: pointer;
  display: block;
  text-align: center;
  width: 150px;
  margin-top: 50px;
}
.twitter-click a {
  color: #000;
  text-decoration: none;
}
.twitter-click a:hover {
  text-decoration: none;
}
.scroll-up {
  margin: 0 auto;
  text-align: center;
}
.twitter-block {
  background: #000;
}
.twitter-block a.twitter-solo {
  margin: 0 auto 50px;
  text-indent: -9999px;
  display: block;
  width: 95px;
  height: 95px;
  background: url('../images/logo_twitter_solo.png') 50% 50% no-repeat;
}
.twitter-block p {
  font-weight: 300;
  font-size: 22px;
  color: #ffffff;
  text-align: center;
}
/******CAREERS******/
#career-header {
  max-width: 1020px;
  *width: 1020px;
  padding: 0 20px;
  margin: 0 auto;
}
#career-header #brand {
  float: left;
}
#career-header .main-site-link {
  float: right;
  display: block;
  padding: 23px 0 23px 35px;
  background: url('../images/bg_backtomain_alt.png') 0% 50% no-repeat;
  font-size: 2.2em;
  color: #000000;
  text-decoration: none;
}
#career-header .main-site-link:hover {
  color: #1a1a1a;
}
.career-intro {
  background: #eef1f3;
  padding: 50px 20px;
}
.career-intro h2 {
  margin: 0;
  padding: 0;
  color: #000000;
}
.job-block {
  max-width: 1020px;
  *width: 1020px;
  margin: 0 auto 20px;
  padding: 94px 20px 40px;
  border-bottom: 8px solid #1691b5;
}
.job-block.l {
  border: none;
}
.job-block .job-head {
  padding: 0 0 40px;
}
.job-block .job-head h3 {
  background: none;
  color: #000000;
  padding: 15px 0px;
  font-size: 4em;
  font-weight: 300;
  font-family: "open-sans", Helvetica, Arial, "Lucida Grande", sans-serif;
  display: inline-block;
  *display: inline;
  zoom: 1;
  _height: 30px;
}
.job-block .requirements {
  padding-top: 25px;
}
.job-block .requirements h4 {
  color: #000000;
  font-size: 2.8em;
  line-height: 1.4em;
  font-weight: 600;
  margin: 0 0 20px;
}
.job-block .requirements p {
  color: #000000;
  font-size: 1.4em;
  line-height: 1.8em;
  margin: 0 0 20px;
}
.job-block .requirements li {
  color: #000000;
  font-size: 1.4em;
  line-height: 1.8em;
  margin-left: 15px;
  padding-bottom: 10px;
}
.job-share {
  float: right;
  padding: 10px 0;
  list-style: none;
}
.job-share li {
  float: left;
}
.job-share li a {
  display: block;
  width: 24px;
  height: 24px;
  background-image: url('../images/sprite_job_social.png');
  background-repeat: no-repeat;
  text-indent: -9999px;
}
.job-share .share {
  font-weight: 600;
  color: #000000;
  padding: 3px 20px 0px 0px;
  font-size: 1.7em;
}
.job-share .twitter {
  margin: 0 5px 0 0;
}
.job-share .twitter a {
  background-position: 0% 50%;
}
.job-share .gplus {
  margin: 0 5px 0 0;
}
.job-share .gplus a {
  background-position: 50% 50%;
}
.job-share .fbook {
  margin: 0 5px 0 0;
}
.job-share .fbook a {
  background-position: -57px, 50%;
}
.job-footer a {
  text-decoration: none;
  font-size: 2.8em;
  border-radius: 0px;
  background-color: #000;
  color: white;
  font-style: italic;
  padding: 15px 20px;
  cursor: pointer;
  display: block;
  text-align: center;
  width: 150px;
  margin: 75px auto 10px;
}
.job-footer .post-button {
  padding-top: 10px;
  display: block;
  text-align: center;
  font-size: 1.4em;
  color: #000000;
}
#career-footer {
  background: #eef1f3;
  padding: 40px 0;
}
#career-footer h4 {
  padding-top: 110px;
  font-size: 2.8em;
  font-weight: 600;
  margin: 0 0 20px;
  color: #000000;
}
#career-footer p {
  color: #000000;
  font-size: 1.4em;
  line-height: 1.9em;
}
#career-footer a {
  font-weight: 700;
  color: #000;
}
#career-footer a:hover {
  color: #666;
  text-decoration: none;
}
/* POSSIBLY DELETE THIS IF IT DOESNT BREAK ANYTHING
#high-five {
	background-color: #000;
	height: 445px;
	
	.high-five-inside {
		background: url('../images/img_highfive.png') no-repeat;
		background-position: left bottom;
		max-width:1020px;
		*width:1020px;
		padding:0;
		margin:0 auto;
		height: 100%;
		
		h1 {
			background: none;
			color:@white;
			padding: 15px 0px;
			font-size: 4em;
			font-weight: 300;
			font-family: @sans-serif;
			padding-top: 90px;
		}
		p{
			font-size: 1.8em;
			line-height: 34px;
			color: #fff;
			font-family: @sans-serif;
			font-weight: 300;
			padding-top: 30px;
		}
	}
}*/
/******CAPABILITIES******/
.capabilities-bg {
  background: #ffffff;
}
.capabilities-bg .std-header h1 {
  color: #000000;
  font-size: 4em;
  text-align: center;
  font-weight: 300;
  margin: 0 0 85px;
}
.capabilities-bg .std-header img {
  display: block;
  margin: 0 auto 85px;
}
.capabilities-bg .std-body {
  color: #000000;
}
.capabilities-bg .std-body h3 {
  font-size: 2.8em;
  font-weight: 600;
  margin: 0 0 20px;
  color: #000000;
  padding: 20px 0 20px 0;
}
.capabilities-bg .std-body p {
  font-size: 22px;
  margin: 0 0 40px;
  font-weight: 300;
}
.capabilities-bg .std-body li {
  font-size: 22px;
  margin: 0 0 40px;
  font-weight: 300;
  margin-left: 25px;
  padding-left: 10px;
  line-height: 30px;
  margin-bottom: 15px;
}
#capabilities-footer {
  background: #f6f6f7;
  padding-bottom: 40px;
  text-align: center;
}
#capabilities-footer h1 {
  font-size: 2.8em;
  font-weight: 600;
  margin: 0 0 30px;
  color: #000000;
  padding-top: 60px;
}
#capabilities-footer p {
  color: #000000;
  font-size: 2.0em;
  line-height: 1.9em;
  font-weight: 300;
  padding-bottom: 40px;
}
#capabilities-footer .caption {
  color: #000000;
  font-style: italic;
  font-size: 1.2em;
  text-align: left;
  padding-top: 10px;
}
#capabilities-footer a {
  font-weight: 700;
  color: #000;
}
#capabilities-footer a:hover {
  color: #666;
  text-decoration: none;
}
#career-footer {
  background: #f6f6f7;
  padding-bottom: 40px;
  text-align: center;
}
#career-footer h1 {
  font-size: 2.8em;
  font-weight: 600;
  margin: 0 0 30px;
  color: #000000;
  padding-top: 60px;
}
#career-footer p {
  color: #000000;
  font-size: 2.0em;
  line-height: 1.9em;
  font-weight: 300;
  padding-bottom: 40px;
}
#career-footer .caption {
  color: #000000;
  font-style: italic;
  font-size: 1.2em;
  text-align: left;
  padding-top: 10px;
}
#career-footer a {
  font-weight: 700;
  color: #000;
}
#career-footer a:hover {
  color: #666;
  text-decoration: none;
}
.nova-bg {
  background: #ffffff;
}
.nova-bg .std-header h1 {
  color: #000000;
  font-size: 4em;
  text-align: center;
  font-weight: 300;
  margin: 0 0 85px;
  padding-top: 50px;
}
.nova-bg .std-header img {
  display: block;
  margin: 0 auto 85px;
}
.nova-bg .std-body {
  color: #000000;
}
.nova-bg .std-body h3 {
  font-size: 2.8em;
  font-weight: 600;
  margin: 0 0 20px;
  color: #000000;
  padding: 20px 0 20px 0;
}
.nova-bg .std-body p {
  font-size: 22px;
  margin: 0 0 40px;
  font-weight: 300;
}
.nova-bg .std-body li {
  font-size: 22px;
  margin: 0 0 40px;
  font-weight: 300;
  margin-left: 25px;
  padding-left: 10px;
  line-height: 30px;
  margin-bottom: 15px;
}
.nova-bg li.indent {
  margin-left: 50px;
}
.reg-bg {
  background: #ffffff;
}
.reg-bg .std-header h1 {
  color: #000000;
  font-size: 4em;
  text-align: center;
  font-weight: 300;
  margin: 0 0 85px;
  padding-top: 50px;
}
.reg-bg .std-header img {
  display: block;
  margin: 0 auto 85px;
}
.reg-bg .std-block {
  padding-top: 40px;
}
.reg-bg .std-body {
  color: #000000;
}
.reg-bg .std-body h3 {
  font-size: 2.8em;
  font-weight: 600;
  margin: 0 0 20px;
  color: #000000;
  padding: 20px 0 20px 0;
}
.reg-bg .std-body p {
  font-size: 22px;
  margin: 0 0 40px;
  font-weight: 300;
}
.reg-bg .std-body li {
  font-size: 22px;
  margin: 0 0 40px;
  font-weight: 300;
  margin-left: 25px;
  padding-left: 10px;
  line-height: 30px;
  margin-bottom: 15px;
}
.reg-bg li.indent {
  margin-left: 50px;
}
/******CASE STUDY FOOTER******/
#casestudy-footer {
  background: #f6f6f7;
  padding-bottom: 40px;
  text-align: center;
}
#casestudy-footer h1 {
  font-size: 2.8em;
  font-weight: 600;
  margin: 0 0 30px;
  color: #000000;
  padding-top: 60px;
}
#casestudy-footer p {
  color: #000000;
  font-size: 2.0em;
  line-height: 1.9em;
  font-weight: 300;
  padding-bottom: 40px;
}
#casestudy-footer .caption {
  color: #000000;
  font-style: italic;
  font-size: 1.2em;
  text-align: left;
  padding-top: 10px;
}
#casestudy-footer a {
  font-weight: 700;
  color: #000;
}
#casestudy-footer a:hover {
  color: #666;
  text-decoration: none;
}
/******WALLPAPER SLIDER START******/
#wallpaper-block {
  max-width: 1020px;
  padding: 0 20px;
  margin: 0px auto 0px;
}
#wallpaper-block .block {
  padding: 45px 20px;
  border-bottom: 7px solid #f6f6f6;
}
#wallpaper-block .block .row-fluid.first {
  margin: 0 0 75px;
}
#wallpaper-block .dl-button {
  margin: 0 auto;
  text-align: center;
  margin: 60px  0 20px 0;
}
#wallpaper-block h2 {
  color: #000;
  margin-bottom: 50px;
}
#wallpaper-block .block1 {
  margin-top: 100px;
  padding: 45px 20px;
  border-bottom: 7px solid #f6f6f6;
}
#wallpaper-block .block1 .row-fluid.first {
  margin: 0 0 75px;
}
#wallpaper-block .block1 .prev-wrap {
  background: #f6f6f7;
  height: 100%;
  width: 100%;
  margin: 0 auto;
  text-align: center;
  vertical-align: middle;
  margin-top: 15px;
  padding: 45px 0;
}
#wallpaper-block .block1 .next-wrap {
  background: #f6f6f7;
  height: 100%;
  width: 100%;
  margin: 0 auto;
  text-align: center;
  vertical-align: middle;
  margin-top: 15px;
  padding: 45px 0;
}
#wallpaper-block .block2 {
  padding: 100px 20px 45px 20px;
  border-bottom: 7px solid #f6f6f6;
}
#wallpaper-block .block2 .row-fluid.first {
  margin: 0 0 75px;
}
#wallpaper-block .block2 .prev-wrap {
  background: #f6f6f7;
  height: 100%;
  width: 100%;
  margin: 0 auto;
  text-align: center;
  vertical-align: middle;
  margin-top: 10px;
  padding: 30px 0;
}
#wallpaper-block .block2 .next-wrap {
  background: #f6f6f7;
  height: 100%;
  width: 100%;
  margin: 0 auto;
  text-align: center;
  vertical-align: middle;
  margin-top: 10px;
  padding: 30px 0;
}
/******LB SLIDER START******/
#career-slider {
  max-width: 1020px;
  *width: 1020px;
  margin: 0 auto;
}
.icon-text-slider {
  height: 500px;
  overflow: hidden;
}
.icon-text-slider .slider-wrap {
  width: 480px;
  margin: 0 auto;
  height: 500px;
}
.icon-text-slider .slider-wrap .caroufredsel_wrapper {
  overflow: visible!important;
  left: -480px !important;
}
.icon-text-slider .slider-wrap .slides .slide {
  width: 480px!important;
}
.icon-text-slider .slider-wrap .slides .slide .body {
  padding: 0 20px;
}
.icon-text-slider .slider-wrap .slides .slide .body .icon {
  position: relative;
  width: 224px;
  height: 225px;
  display: block;
  margin: 20px auto 80px;
  background: url('../images/homeSlider/services_slider_nextprev.png') 50% 50% no-repeat;
}
.icon-text-slider .slider-wrap .slides .slide .body .icon img {
  opacity: 0;
  transition: opacity 0.5s;
  -moz-transition: opacity 0.5s;
  /* Firefox 4 */

  -webkit-transition: opacity 0.5s;
  /* Safari and Chrome */

  -o-transition: opacity 0.5s;
  /* Opera */

  *display: none;
}
.icon-text-slider .slider-wrap .slides .slide .body .icon h2 {
  font-size: 3.5em;
  z-index: 0;
  opacity: 0;
  transition: opacity 0.1s;
  -moz-transition: opacity 0.1s;
  /* Firefox 4 */

  -webkit-transition: opacity 0.1s;
  /* Safari and Chrome */

  -o-transition: opacity 0.1s;
  /* Opera */

  *display: none;
  position: absolute;
  top: 50%;
  text-align: center;
  left: 0;
  color: #000000;
  margin: -25px 0 0 0;
  padding: 0;
  width: 100%;
}
.icon-text-slider .slider-wrap .slides .slide .body .icon h2.alt {
  margin: -50px 0 0 0;
}
.icon-text-slider .slider-wrap .slides .slide .body p {
  text-align: center;
  margin: 0 auto;
  width: 400px;
  color: #333333;
  font-size: 1.5em;
}
.icon-text-slider .slider-wrap .slides .slide .body p strong {
  display: block;
}
.icon-text-slider .slider-wrap .slides .slide.active .icon img {
  opacity: 1;
  *display: block;
}
.icon-text-slider .slider-wrap .slides .slide.active .icon h2 {
  z-index: 200;
  opacity: 1;
  *display: block;
}
.icon-text-slider .slider-wrap .slides .slide.active p {
  color: #ffffff;
}
.icon-text-slider .next-prev {
  height: 0px;
}
.icon-text-slider .next-prev .next-slide {
  top: 0;
  left: 100%;
  width: 480px;
  height: 490px;
  position: absolute;
  z-index: 500;
}
.icon-text-slider .next-prev .next-slide .inner {
  display: block;
  height: 100%;
  width: 100%;
}
.icon-text-slider .next-prev .prev-slide {
  top: 0;
  left: auto;
  right: 100%;
  width: 480px;
  height: 490px;
  position: absolute;
  z-index: 500;
}
.icon-text-slider .next-prev .prev-slide .inner {
  display: block;
  height: 100%;
  width: 100%;
}
.wallpaper-slider {
  /******STRUCTURE******/

}
.wallpaper-slider .bottomslide {
  z-index: 0;
  position: relative;
  top: -150px;
}
.wallpaper-slider .topslide {
  z-index: 100;
}
.wallpaper-slider .container {
  padding: 50px 200px;
}
.wallpaper-slider .slider-wrap {
  position: relative;
}
.wallpaper-slider .slides {
  opacity: 0;
  background: #ffffff;
  *height: 458px;
}
.wallpaper-slider .slides .slide {
  display: none;
  position: relative;
  *height: 458px;
  float: left;
}
.wallpaper-slider .slides .slide img {
  display: block;
  width: 100%;
  height: 100%;
}
.wallpaper-slider .caroufredsel_wrapper .slides .slide {
  display: block;
}
.wallpaper-slider .container {
  padding: 20px 40px;
}
.wallpaper-slider .container-alt {
  padding: 20px 1%;
  background: #f5f5f5;
}
.wallpaper-slider .container.fixed {
  width: 920px;
  padding: 20px;
  background: #ffffff;
  margin: 0 auto;
}
.wallpaper-slider .row-fluid {
  width: 100%;
  margin: 0 0 20px 0;
}
.slider-bg {
  background: #000;
}
.slider-wrap {
  position: relative;
}
.slides {
  opacity: 0;
  *height: 408px;
}
.slides .slide {
  display: none;
  position: relative;
  *height: 408px;
  float: left;
}
.slides .slide img {
  display: block;
  width: 100%;
  height: 100%;
}
.caroufredsel_wrapper .slides .slide {
  display: block;
}
.next-prev {
  display: none;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 500;
}
.next-prev a {
  display: block;
  text-indent: -999999px;
  width: 40px;
  height: 40px;
  background-repeat: no-repeat;
  position: absolute;
}
.next-prev .next-slide {
  right: 0;
  top: 50%;
  background-position: 50% 100%;
}
.next-prev .prev-slide {
  left: 0;
  top: 50%;
  background-position: 50% 0%;
}
.pag-wrap {
  width: 100%;
  position: absolute;
  left: 0;
  bottom: 0px;
}
.pag-wrap .slide-pag {
  margin: 0 auto;
  width: 130px;
  *width: 155px;
}
.pag-wrap .slide-pag a {
  display: block;
  float: left;
  margin: 0 7px;
  color: #333333;
  font-size: 2em;
  font-style: italic;
}
.pag-wrap .slide-pag a:hover {
  text-decoration: none;
}
.pag-wrap .slide-pag a.selected {
  color: #ffffff;
  border-bottom: 1px solid #ffffff;
}
.pag-wrap.alt .slide-pag {
  width: 105px;
  *width: 130px;
}
.pag-wrap.alt .slide-pag a {
  color: #dedede;
}
.pag-wrap.alt .slide-pag a.selected {
  color: #000000;
  border-bottom: 1px solid #000000;
}
/******SLIDER END******/
/****** CASE STUDIES ******/
.hero {
  height: 496px;
  background-size: cover;
}
.hero .inner {
  max-width: 1020px;
  margin: 0 auto;
}
.hero.aao-hero {
  background-image: url('../images/caseStudies/aao_hero.jpg');
  background-repeat: no-repeat;
  background-position: 50% 50%;
}
.hero.aao-hero blockquote {
  text-shadow: 1px 1px 0px #1d4f63;
  padding: 90px 0 0 0;
  width: 45%;
  font-weight: 300;
  color: #ffffff;
}
.hero.aao-hero blockquote .quote {
  font-size: 4em;
  line-height: 1.4em;
}
.hero.aao-hero blockquote .byline {
  font-size: 1.4em;
  display: block;
  margin: 40px 0 0 0;
  line-height: 1.3em;
  text-align: right;
}
.hero.grunley-hero {
  background-image: url('../images/caseStudies/grunley_hero.png');
  background-repeat: no-repeat;
  background-position: 50% 50%;
}
.hero.grunley-hero blockquote {
  text-shadow: 1px 1px 0px #1d4f63;
  padding: 90px 0 0 0;
  width: 45%;
  font-weight: 300;
  color: #ffffff;
}
.hero.grunley-hero blockquote .quote {
  font-size: 4em;
  line-height: 1.4em;
}
.hero.grunley-hero blockquote .byline {
  font-size: 1.4em;
  display: block;
  margin: 40px 0 0 0;
  line-height: 1.3em;
  text-align: right;
}
.hero.kbd-hero {
  background-image: url('../images/caseStudies/kbd_hero.png');
  background-repeat: no-repeat;
  background-position: 50% 50%;
}
.hero.kbd-hero .quote_box {
  float: left;
  padding: 0 0px 0 0;
  width: 75%;
}
.hero.kbd-hero .quote_image {
  padding: 80px 0 0 0px;
  float: left;
  width: 35%;
}
.hero.kbd-hero blockquote {
  padding: 90px 0 0 0px;
  width: 60%;
  font-weight: 300;
  color: #000;
  float: right;
}
.hero.kbd-hero blockquote .quote {
  font-size: 4em;
  line-height: 1.4em;
}
.hero.kbd-hero blockquote .byline {
  font-size: 1.4em;
  display: block;
  margin: 40px 0 0 0;
  line-height: 1.3em;
  text-align: right;
}
.hero.wagner-hero {
  background-image: url('../images/caseStudies/wagner_hero.png');
  background-repeat: no-repeat;
  background-position: 50% 50%;
}
.hero.wagner-hero blockquote {
  padding: 90px 0 0 0;
  width: 25%;
  font-weight: 300;
  color: #000;
}
.hero.wagner-hero blockquote .quote {
  font-size: 4em;
  line-height: 1.4em;
}
.hero.wagner-hero blockquote .byline {
  font-size: 1.4em;
  display: block;
  margin: 40px 0 0 0;
  line-height: 1.3em;
  text-align: right;
}
.hero.nkh-hero {
  background-image: url('../images/caseStudies/nkh_hero.png');
  background-repeat: no-repeat;
  background-position: 50% 50%;
}
.hero.nkh-hero blockquote {
  text-shadow: 1px 1px 0px #1d4f63;
  padding: 90px 0 0 0;
  width: 55%;
  font-weight: 300;
  color: #ffffff;
}
.hero.nkh-hero blockquote .quote {
  font-size: 4em;
  line-height: 1.4em;
}
.hero.nkh-hero blockquote .byline {
  font-size: 1.4em;
  display: block;
  margin: 40px 0 0 0;
  line-height: 1.3em;
  text-align: right;
}
.hero.unf-hero {
  background-image: url('../images/caseStudies/unf_hero.png');
  background-repeat: no-repeat;
  background-position: 50% 50%;
}
.hero.unf-hero blockquote {
  text-shadow: 1px 1px 0px #1d4f63;
  padding: 90px 0 0 0;
  width: 45%;
  font-weight: 300;
  color: #ffffff;
}
.hero.unf-hero blockquote .quote {
  font-size: 4em;
  line-height: 1.4em;
}
.hero.unf-hero blockquote .byline {
  font-size: 1.4em;
  display: block;
  margin: 40px 0 0 0;
  line-height: 1.3em;
  text-align: right;
}
.hero.fhi-hero {
  background-image: url('../images/caseStudies/fhi_hero.png');
  background-repeat: no-repeat;
  background-position: 50% 50%;
}
.hero.fhi-hero blockquote {
  text-shadow: 1px 1px 0px #1d4f63;
  padding: 90px 0 0 0;
  width: 45%;
  font-weight: 300;
  color: #ffffff;
}
.hero.fhi-hero blockquote .quote {
  font-size: 4em;
  line-height: 1.4em;
}
.hero.fhi-hero blockquote .byline {
  font-size: 1.4em;
  display: block;
  margin: 40px 0 0 0;
  line-height: 1.3em;
  text-align: right;
}
.hero.ata-hero {
  background-image: url('../images/caseStudies/ata_hero.png');
  background-repeat: no-repeat;
  background-position: 50% 50%;
}
.hero.ata-hero blockquote {
  text-shadow: 1px 1px 0px #1d4f63;
  padding: 90px 0 0 0;
  width: 45%;
  font-weight: 300;
  color: #ffffff;
}
.hero.ata-hero blockquote .quote {
  font-size: 4em;
  line-height: 1.4em;
}
.hero.ata-hero blockquote .byline {
  font-size: 1.4em;
  display: block;
  margin: 40px 0 0 0;
  line-height: 1.3em;
  text-align: right;
}
.hero.specialicious-hero {
  background-image: url('../images/caseStudies/specialicious_hero2.png');
  background-repeat: no-repeat;
  background-position: 50% 50%;
}
.hero.specialicious-hero blockquote {
  text-shadow: 1px 1px 0px #1d4f63;
  padding: 90px 0 0 0;
  width: 45%;
  font-weight: 300;
  color: #ffffff;
}
.hero.specialicious-hero blockquote .quote {
  font-size: 4em;
  line-height: 1.4em;
}
.hero.specialicious-hero blockquote .byline {
  font-size: 1.4em;
  display: block;
  margin: 40px 0 0 0;
  line-height: 1.3em;
  text-align: right;
}
.hero.dineout-hero {
  background-image: url('../images/caseStudies/dineout_hero.png');
  background-repeat: no-repeat;
  background-position: 50% 50%;
}
.hero.dineout-hero .quote_box {
  float: left;
  padding: 0 0px 0 0;
  width: 85%;
}
.hero.dineout-hero .quote_image {
  padding: 80px 0 0 0px;
  float: left;
  width: 30%;
}
.hero.dineout-hero blockquote {
  padding: 90px 0 0 0px;
  width: 60%;
  font-weight: 300;
  color: #000;
  float: left;
}
.hero.dineout-hero blockquote .quote {
  font-size: 4em;
  line-height: 1.4em;
}
.hero.dineout-hero blockquote .byline {
  font-size: 1.4em;
  display: block;
  margin: 40px 0 0 0;
  line-height: 1.3em;
  text-align: right;
}
#work-block {
  max-width: 1020px;
  padding: 0 20px;
  margin: 0px auto 0px;
}
#work-block .block {
  padding: 45px 20px;
  border-bottom: 7px solid #f6f6f6;
}
#work-block .block .row-fluid.first {
  margin: 0 0 75px;
}
#work-block .block-last {
  padding: 45px 20px;
  border-bottom: none;
}
#work-block .block-last .row-fluid.first {
  margin: 0 0 75px;
}
#work-block h1 {
  font-size: 2.8em;
  font-weight: 600;
  margin: 0 0 45px;
  color: #000000;
}
#work-block h2 {
  font-size: 1.7em;
  margin: 0 0 20px;
  text-align: left;
  font-weight: 600;
  color: #000000;
}
#work-block p {
  color: #000000;
}
#work-block .highlights {
  padding: 0 0 0 10px;
  list-style: none;
}
#work-block .highlights li {
  color: #000000;
  margin: 0 0 25px;
  line-height: 2em;
}
#work-block .highlights li strong {
  font-size: 1.7em;
  margin: 0 0 15px;
  display: block;
}
#work-block .highlights li span {
  display: block;
  font-size: 1.4em;
}
#work-block .center-img {
  padding: 0 0 60px;
}
#work-block .center-img img {
  display: block;
  margin: 0 auto;
}
#work-block .center-img-do {
  padding: 0 0 80px;
}
#work-block .center-img-do img {
  display: block;
  margin: 0 auto;
}
#work-block .center-device-img2 {
  padding-top: 25px;
}
#work-block .center-device-img2 img {
  display: block;
  margin: 0 auto;
}
#work-block .center-img2 {
  padding: 0px;
}
#work-block .center-img2 img {
  display: block;
  margin: 0 auto;
}
#work-block .center-img3 {
  padding: 0 0 50px 0;
}
#work-block .center-img3 img {
  display: block;
  margin: 0 auto;
}
.copyright {
  background: #000;
  padding: 15px 0;
}
.copyright .span4 {
  float: left;
}
.copyright P {
  font-size: 12px;
  color: #fff;
  text-align: right;
  padding-top: 5px;
}
/********Google Map*******/
.google-box {
  width: 300px;
  background: #fff;
  padding: 10px;
  z-index: 1;
  text-align: center;
  border: none;
  position: relative;
}
.google-box .title {
  color: #000;
  font-size: 17px;
  font-weight: bold;
}
#map_canvas {
  height: 100%;
}
img[src*="iws3.png"],
img[src*="iw3.png"] {
  display: none;
}
/******STRUCTURE******/
.section-contents {
  max-width: 1020px;
  padding: 0 20px;
  *width: 1020px;
  margin-left: auto;
  margin-right: auto;
}
.row-fluid {
  width: 100%;
}
.row-fluid.mid {
  margin: 0 0 40px;
}
/*margin right instead of margin left to do overflow hidden*/
.row-fluid > [class*="span"] {
  float: left;
  margin-right: 3%;
}
.row-fluid > [class*="span"].l {
  margin-right: 0;
  width: auto;
  float: none;
  overflow: hidden;
}
/*Use this to set exact percentages and have the last box be ok*/
.row-fluid > [class*="span"]:last-child {
  margin-right: 0;
  width: auto;
  float: none;
  overflow: hidden;
}
.row-fluid .span1 {
  width: 5.606060602727273%;
}
.row-fluid .span2 {
  width: 14.16666666%;
}
.row-fluid .span3 {
  width: 22.74999999%;
}
.row-fluid .span4 {
  width: 31.33333332%;
}
.row-fluid .span5 {
  width: 38.66666665%;
}
.row-fluid .span6 {
  width: 48.49999998%;
}
.row-fluid .span7 {
  width: 55.33333331%;
}
.row-fluid .span8 {
  width: 63.66666664%;
}
.row-fluid .span9 {
  width: 71.99999997%;
}
.row-fluid .span10 {
  width: 80.3333333%;
}
.row-fluid .span11 {
  width: 88.66666663000001%;
}
.row-fluid .span12 {
  width: 96.99999996%;
}
/******RESPONSIVE******/
@media (max-width: 1060px) {
  .hero.aao-hero blockquote,
  .hero.ata-hero blockquote,
  .hero.dineout-hero blockquote,
  .hero.fhi-hero blockquote,
  .hero.grunley-hero blockquote,
  .hero.nkh-hero blockquote,
  .hero.specialicious-hero blockquote,
  .hero.unf-hero blockquote,
  .hero.wagner-hero blockquote {
    padding-left: 50px;
  }
}
@media (max-width: 1020px) {
  .safo-nav {
    font-size: 1.7em;
  }
  .client-list p {
    width: 22%;
    padding-right: 3%;
  }
}
@media (max-width: 940px) {
  #header-wrap {
    position: static;
  }
  #brand {
    float: none;
    position: absolute;
    top: 100px;
    width: 100%;
    left: 0;
  }
  #brand img {
    margin: 0 auto;
    display: block;
    padding: 30px 35px;
    background: #000000;
    background: rgba(0, 0, 0, 0.95);
  }
  #site-nav {
    position: relative;
    padding: 0;
  }
  #site-nav ul {
    z-index: 500;
    padding: 5px 0;
    background: #000000;
    position: fixed;
    width: 100%!important;
    top: 0;
    left: 0;
    text-align: center;
  }
  #site-nav ul li {
    float: none;
    display: inline;
  }
  #site-nav ul li a {
    display: inline-block;
    *display: inline;
    zoom: 1;
    _height: 30px;
  }
  #site-nav ul li.last a {
    padding: 15px;
  }
  section.safo-start {
    margin-top: 50px;
    height: 816px;
  }
  section.safo-start .safo-mission {
    padding-top: 256px;
  }
  /* top nav */
  .opennav {
    display: none;
    height: 54px;
    border: 1px solid #1a1a1a;
    margin: 0 auto;
    background: #000000 url('../images/bg_navdrop.png') 50% 50% no-repeat;
  }
  .opennav.up {
    background: #000000 url('../images/bg_navback.png') 50% 50% no-repeat;
  }
  .opennav .safo-nav {
    display: block!important;
    text-align: left;
  }
  .opennav ul {
    display: none;
    padding: 0;
  }
  .opennav li {
    border-top: 2px solid #1a1a1a;
    border-bottom: 1px solid #262626;
    float: none;
  }
  .opennav a {
    padding: 15px 15px;
    font-size: 1.5em;
    line-height: 1;
    display: block;
  }
  .opennav a.on {
    font-weight: bold;
  }
  #site-header .safo-head {
    display: block!important;
  }
  section.safo-history p.established {
    float: none;
    margin: 0 0 20px;
    width: auto;
    text-align: left;
  }
  .client-intro {
    position: static;
    margin: 0 auto 30px;
    left: auto;
    top: auto;
    width: auto;
  }
  section.safo-work h2 {
    margin-top: 0;
  }
  section.safo-work .safo-client h3 {
    font-size: 2.2em;
  }
  .client-list p {
    width: 30%;
  }
  .img_wrapper {
    display: none!important;
  }
  section.safo-work img.mobile-img {
    display: block;
    margin: 0 auto;
  }
  section.safo-methodology .method-nav {
    font-size: 2.5em;
  }
  section.safo-jobs .job-date.date-header {
    display: none;
  }
  section.safo-jobs .job-date {
    float: none;
    margin: 5px 0 0 0;
  }
  .job-block {
    padding-top: 244px;
  }
  .adjust-top #brand {
    display: none;
  }
  #casestudy-footer p {
    margin-top: 80px;
  }
}
/*end media 940*/
@media (max-width: 939px) {
  .hero.nkh-hero blockquote .quote {
    font-size: 3.3em;
  }
}
@media (max-width: 906px) {
  .hero.dineout-hero blockquote .quote {
    font-size: 3.5em;
  }
  .hero.dineout-hero blockquote .byline {
    margin-top: 20px;
  }
}
@media (max-width: 877px) {
  .hero.grunley-hero blockquote {
    padding-left: 50px;
  }
  .hero.grunley-hero blockquote .quote {
    font-size: 3.5em;
  }
  .hero.grunley-hero blockquote .byline {
    margin-top: 20px;
  }
}
@media (max-width: 832px) {
  .hero.kbd-hero blockquote .quote {
    font-size: 3.5em;
  }
}
@media (max-width: 792px) {
  .hero.aao-hero blockquote,
  .hero.fhi-hero blockquote,
  .hero.grunley-hero blockquote,
  .hero.ata-hero blockquote,
  .hero.nkh-hero blockquote,
  .hero.unf-hero blockquote,
  .hero.wagner-hero blockquote {
    padding-left: 50px;
  }
  .hero.aao-hero blockquote .quote,
  .hero.fhi-hero blockquote .quote,
  .hero.grunley-hero blockquote .quote,
  .hero.ata-hero blockquote .quote,
  .hero.nkh-hero blockquote .quote,
  .hero.unf-hero blockquote .quote,
  .hero.wagner-hero blockquote .quote {
    font-size: 3.5em;
  }
  .hero.aao-hero blockquote .byline,
  .hero.fhi-hero blockquote .byline,
  .hero.grunley-hero blockquote .byline,
  .hero.ata-hero blockquote .byline,
  .hero.nkh-hero blockquote .byline,
  .hero.unf-hero blockquote .byline,
  .hero.wagner-hero blockquote .byline {
    margin-top: 20px;
  }
  .hero.kbd-hero blockquote {
    padding-left: 0px;
  }
  .hero.kbd-hero blockquote .quote {
    font-size: 3.5em;
  }
  .hero.kbd-hero blockquote .byline {
    margin-top: 20px;
  }
}
@media (max-width: 770px) {
  section.safo-start {
    padding-top: 50px;
  }
  .client-list p {
    width: 47%;
  }
  section.safo-start p {
    font-size: 3em;
    line-height: 1.5em;
  }
  #career-footer h4 {
    padding-top: 50px;
  }
  #casestudy-footer p {
    margin-top: 40px;
  }
}
/*end 770 media*/
@media (max-width: 760px) {
  #work-block .highlights {
    padding-top: 20px;
  }
  .padding-bottom {
    padding-bottom: 50px;
  }
  #work-block .center-img {
    padding: 50px 0 20px 0;
  }
  #capabilities-footer .caption {
    text-align: center;
  }
  .method-nav-second {
    display: block;
  }
  #inspire,
  #ignite,
  #e-websites,
  #m-management,
  #m-responsive,
  #a-tracking {
    display: none;
  }
  #site-nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
  }
  #site-nav ul {
    display: none;
    position: static;
    padding: 0;
  }
  #site-nav ul li {
    display: block;
    border-top: 1px solid #2d2d2d;
  }
  #site-nav ul li:first-child {
    border-top: none;
  }
  #site-nav ul li:last-child a {
    font-size: 2em;
    text-align: left;
    width: 93%;
    padding: 10px 3%;
  }
  #site-nav ul li a {
    font-size: 2em;
    text-align: left;
    width: 93%;
    padding: 10px 3%;
  }
  .opennav {
    display: block;
    height: 54px;
  }
  body {
    font-size: 55%;
  }
  #site-header {
    padding: 0;
  }
  #site-header .safo-head {
    margin: 20px auto;
  }
  .standard-section {
    padding: 88px 0px;
  }
  .standard-section .row-fluid {
    margin-bottom: 0px;
  }
  .standard-section .row-fluid.last {
    margin-bottom: 0px;
  }
  .standard-section .row-fluid .span4 img {
    padding: 40px 0 0 0;
  }
  section.safo-start {
    height: 400px;
    margin-top: 40px;
  }
  section.safo-start .section-contents {
    padding: 0;
  }
  section.safo-start .safo-mission {
    padding-top: 150px;
    font-size: 1.9em;
    line-height: 1.7em;
  }
  .section-contents {
    width: auto;
    margin-left: auto;
    margin-right: auto;
  }
  .section-contents h2 {
    margin-bottom: 40px;
  }
  section.safo-history {
    padding: 40px 0px;
  }
  section.safo-methodology {
    padding: 40px 0px;
  }
  section.safo-methodology .method-nav {
    margin: 0 auto 20px;
    font-size: 1.8em;
  }
  section.safo-methodology div.our-services {
    padding-top: 0;
  }
  section.safo-methodology div.our-services .row-fluid > [class*="span"] {
    padding-bottom: 30px;
  }
  section.safo-methodology h2 {
    font-size: 2.2em;
    line-height: 1.3em;
    margin-bottom: 15px;
  }
  /*HOME PAGE SLIDERS*/
  .icon-text-slider {
    height: 450px;
  }
  .icon-text-slider .slider-wrap {
    height: 450px;
    width: 320px;
  }
  .icon-text-slider .slider-wrap .caroufredsel_wrapper {
    overflow: visible!important;
    left: -320px !important;
    height: 450px;
  }
  .icon-text-slider .slider-wrap .slides {
    height: 450px;
  }
  .icon-text-slider .slider-wrap .slides .slide {
    width: 320px!important;
  }
  .icon-text-slider .slider-wrap .slides .slide .body {
    padding: 0;
  }
  .icon-text-slider .slider-wrap .slides .slide .body .icon {
    width: 224px;
    height: 225px;
    display: block;
    margin: 30px auto 20px;
  }
  .icon-text-slider .slider-wrap .slides .slide .body .icon img {
    opacity: 1;
  }
  .icon-text-slider .slider-wrap .slides .slide .body .icon h2 {
    opacity: 1;
  }
  .icon-text-slider .slider-wrap .slides .slide .body p {
    color: #ffffff;
    text-align: center;
    margin: 0 auto;
    width: 250px;
    font-size: 15px;
  }
  .pag-wrap {
    bottom: 25px;
  }
  section.safo-methodology.offwhite .icon-text-slider .slider-wrap .slides .slide .body .icon {
    width: 194px;
    height: 195px;
    margin: 10px auto 20px;
  }
  section.safo-methodology.offwhite .icon-text-slider .slider-wrap .slides .slide .body .icon img {
    opacity: 1;
  }
  section.safo-methodology.offwhite .icon-text-slider .slider-wrap .slides .slide .body .icon h2 {
    opacity: 1;
  }
  section.safo-methodology.offwhite .icon-text-slider .slider-wrap .slides .slide .body p,
  section.safo-methodology.offwhite .icon-text-slider .slider-wrap .slides .slide .body h3 {
    color: #000000;
    margin: 0 auto 10px;
  }
  section.safo-methodology.offwhite .icon-text-slider .slider-wrap .slides .slide .body p {
    width: 280px;
    font-size: 15px;
  }
  .method-lines {
    display: none;
  }
  .client-list p {
    display: none;
  }
  .client-list p.feat {
    display: block;
  }
  .client-list .show-more {
    display: block;
    text-align: center;
    border: 1px solid #ffffff;
    font-size: 1.5em;
    font-style: italic;
    position: relative;
    padding: 10px 0;
  }
  .client-list .show-more span {
    position: absolute;
    display: block;
    background: url('../images/bg_navdrop.png') 50% 50% no-repeat;
    width: 30px;
    height: 30px;
  }
  .client-list .show-more span:first-child {
    top: 0;
    left: 5px;
  }
  .client-list .show-more span:last-child {
    top: 0;
    right: 5px;
  }
  .contact-form {
    margin: 0 0 40px;
  }
  .contact-form input[type="text"] {
    max-width: 100%;
    width: 90%;
  }
  section.safo-contact .about-contact p {
    padding: 0;
  }
  section.safo-clients .client-list p {
    width: 100%;
    padding: 0;
    float: none;
  }
  .maps .span6 {
    margin-bottom: 40px;
  }
  .client-intro {
    padding-bottom: 0px;
    margin-bottom: 50px;
  }
  section.safo-contact .social-links {
    margin-bottom: 0px;
  }
  section.safo-jobs .job-post {
    margin: 0 0 5px;
  }
  section.safo-jobs .job-post:last-child {
    margin: 0 0 20px;
  }
  /*careers page*/
  #career-header #brand {
    float: none;
  }
  #career-header .main-site-link {
    float: none;
    padding: 10px 20px 10px 40px;
    margin: 0 0 10px;
  }
  .job-block .job-head h3 {
    margin: 0 0 20px;
  }
  .job-share {
    float: none;
  }
  #career-footer h4 {
    padding-top: 20px;
  }
  /*margin right instead of margin left to do overflow hidden*/
  .row-fluid > [class*="span"] {
    float: none;
    width: auto;
    margin-right: 0;
  }
  /*Use this to set exact percentages and have the last box be ok*/
  .row-fluid > [class*="span"]:last-child {
    overflow: auto;
  }
  .copyright .span4 {
    float: left;
  }
}
@media (max-width: 600px) {
  .hero.aao-hero blockquote,
  .hero.ata-hero blockquote,
  .hero.dineout-hero blockquote,
  .hero.fhi-hero blockquote,
  .hero.grunley-hero blockquote,
  .hero.nkh-hero blockquote,
  .hero.specialicious-hero blockquote,
  .hero.unf-hero blockquote,
  .hero.wagner-hero blockquote {
    padding-left: 50px;
  }
  .hero.aao-hero blockquote .quote,
  .hero.ata-hero blockquote .quote,
  .hero.dineout-hero blockquote .quote,
  .hero.fhi-hero blockquote .quote,
  .hero.grunley-hero blockquote .quote,
  .hero.nkh-hero blockquote .quote,
  .hero.specialicious-hero blockquote .quote,
  .hero.unf-hero blockquote .quote,
  .hero.wagner-hero blockquote .quote {
    font-size: 3em;
  }
}
@media (max-width: 588px) {
  .hero.dineout-hero blockquote {
    width: 100%;
    padding: 20px 0 0 30px;
  }
  .hero.dineout-hero blockquote .quote {
    font-size: 2.5em;
  }
  .hero.dineout-hero .quote_image {
    padding-left: 30px;
  }
  .hero.kbd-hero blockquote {
    width: 100%;
    padding-top: 30px;
  }
  .hero.kbd-hero blockquote .quote {
    font-size: 2.5em;
    padding: 0px 0 0 30px;
    display: block;
  }
  .hero.kbd-hero .quote_image {
    padding-left: 30px;
  }
}
